<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Vendas</title>
    <link rel="stylesheet" href="static/style_home_320_portrait.css" media="(min-width: 320px) and (orientation: portrait)">
    <link rel="stylesheet" href="static/style_320_portrait.css" media="(min-width: 320px) and (orientation: portrait)">
</head>
<body>
    <div class="cont_one">
        <h1>SkillTECK</h1>
        <h3>Supermercado</h3>
        <div class="cont_sec">
            <ul>
                <li>
                    <a href="/cad_vendas">
                        <div class="button button-3">
                            <span>Cadastro de Vendas</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/cad_clientes">
                        <div class="button button-3">
                            <span>Cadastro de Clientes</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/cad_produtos">
                        <div class="button button-3">
                            <span>Cadastro de Produtos</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>